*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagina{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body{
    margin: 0;
    min-height: 100%;
    background-color: #363467;
}

main{
    flex: 1;

}


header{
    background-color: rgb(47, 34, 53);
    color: white;
    font-family: monospace;
    padding: 50px;
    text-align: center;
}



button{
    width: 250px;
    height: 80px; 

    background-color: rgb(29, 28, 28);
    color: white;

    text-decoration: none !important;
    border-bottom: none;
    box-shadow: none;
    border-radius: 20px;

    border: none;
    font-family: monospace;

    cursor: pointer;
    
    
    font-size: 24px;
    transition: 0.3s;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

    align-items: center;
    display: inline-block;
    


}

.botao-jogar:hover {
  transform: translateY(-8px) scale(1.08);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.botao-jogar:active {
  transform: translateY(-2px) scale(0.95);
}

button a{
    padding: 10px;
}



main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    margin-top: auto;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    font-family: monospace;
}

.box{
    text-align: center;

    padding: 40px 60px;

    background-color: #222;
    border-radius: 15px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);

    color: #aaa;
    margin-bottom: 20px;
}

.box h1, p{
    font-family: monospace;
    margin-bottom: 10px;
}

.ConteudoEscolha{
    font-family: monospace;
    text-align: center;
}

.Escolhas{
    margin-top: 10px;
    font-family: monospace;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
    align-items: center;
}

.Escolhas h2{
    text-align: center;
   font-family: monospace;
}

button{
    text-align: center;
    align-items: center;
    margin: 8px;
    margin-bottom: 10px;
}